body{
    background: rgb(255, 255, 255) url("./../images/background..jpg") no-repeat fixed;
    background-size: 100%;
}
header{
    background-color: rgba(255, 255, 255);
}
#right{
    margin-left: 37%;

}
hr{
    width:70%;
    margin-top: 0px;
    margin-bottom: 0px;
}
nav{
    border: 1px solid black;
    border-top: 0px;
    background-color: rgb(241, 240, 240);
}
nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    margin-left: 25%;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 150%;
    padding: 10px;
    border-right: 1px solid black;
}
nav ul li a:hover{
    background-color: rgb(179, 176, 176);
}
#border{
    border-right: 0px;
}
.left{
    background-color: rgb(241, 240, 240);
}
.right, .left{
    margin-left: 50px;
    margin-right: 50px;
}
.right img{
    display: block;
    float: right;
}
.right p{
    width: 800px;
    height: 100px;
    vertical-align: middle;
}
.left img{
    display: block;
    float: left;
    margin-left: 700px;
}
.left p{
    text-align: right;
    vertical-align: middle;
}
div{
    margin-bottom: 50px;
}